@mixin textStyle {
  font: {
    size: 18px;
    color: #ddd;
    weight: 500;
  }
}

.skill-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;

  .skill-item {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 300px;
    margin: 10px;

    img {
      width: 150px;
      padding: 10px;
    }

    p {
      padding: 5px 0 0;
      @include textStyle
    }

    ul {
      
      li {
        padding: 5px 0 0;
        @include textStyle
      }
    }
  }
}